.icon {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
}

.mainColor path {
  color: var(--color-text-main);
  stroke: var(--color-text-main);
}

.purple path {
  color: var(--color-text-purple);
  stroke: var(--color-text-purple);
}

.purple polyline {
  color: var(--color-text-purple);
  stroke: var(--color-text-purple);
}

.success path {
  color: var(--color-accent-green);
  stroke: var(--color-accent-green);
}

.danger path {
  color: var(--color-border-danger);
  stroke: var(--color-border-danger);
}

.warning path {
  color: var(--color-border-warning);
  stroke: var(--color-border-warning);
}

.information path {
  color: var(--color-border-info);
  stroke: var(--color-border-info);
}

.primary path {
  color: var(--color-primary);
  stroke: var(--color-primary);
}

.sub path {
  color: var(--color-text-sub);
  stroke: var(--color-text-sub);
}
