.wysiwyg {
  font-size: 14px;
  border: 1.5px solid var(--color-border);
  border-radius: var(--radius-md);
  transition: all 0.2s ease-in-out;
}

.wysiwyg:focus-within {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px var(--color-bg-purple);
}

.wysiwyg--error {
  border-color: var(--color-border-danger);
}

.wysiwyg--error:focus-within {
  border-color: var(--color-border-danger);
  box-shadow: 0 0 0 3px var(--color-bg-danger);
}
