.the-sidebar {
  width: 240px;
  height: 100%;
  padding: 20px 16px;
  background-color: var(--color-bg-purple-light);
  border-right: 1px solid var(--color-border-light);
}

.the-sidebar li {
  list-style: none;
}

.wrap {
  margin-top: 16px;
}

.wrap:first-child {
  margin-top: 0;
}

.nav {
  padding-left: 0;
  margin-top: 8px;
}
