.text-link {
  transition: opacity var(--hover-interactive-element-duration);
}

.text-link:hover {
  opacity: var(--hover-interactive-element-opacity);
}

.main {
  color: var(--color-text-main);
}

.purple {
  color: var(--color-text-purple);
}

.xl {
  font-size: 24px;
}

.lg {
  font-size: 20px;
}

.md {
  font-size: 16px;
}

.sm {
  font-size: 14px;
}

.xs {
  font-size: 12px;
}
