.navi-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6.5px 10px;
  text-decoration: none;
}

.text {
  margin-left: 9px;
}

.active {
  text-decoration: none;
  background-color: var(--color-bg-purple);
  border-radius: 4px;
}
