.button-link {
  display: inline-block;
  height: 38px;
  padding: 4px 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  color: var(--color-text-white);
  text-decoration: none;
  background-color: var(--color-primary);
  border-radius: 5px;
  transition: opacity var(--hover-interactive-element-duration);
}

.button-link:hover {
  opacity: var(--hover-interactive-element-opacity);
}
